# Client Development Server Port
PORT=5173

# Backend API URL
VITE_API_URL=http://localhost:5000/api

# Conversational Commerce Contacts
VITE_WHATSAPP_NUMBER=916377027248
VITE_PHONE_NUMBER=+916377027248
