# Admin Development Server Port
PORT=5174

# Backend API URL
VITE_API_URL=http://localhost:5000/api

# Default Admin Login
VITE_DEFAULT_ADMIN_EMAIL=enterprisesdheeraj2@gmail.com

# Customer Storefront URL
VITE_STOREFRONT_URL=https://gift-shop-webapp-rho.vercel.app
